@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

html body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden !important;
}

html {
  background-color: white;
  height: 100%;
}

html.rechtliches{
  background-color: rgb(101, 163, 255)!important;
}

h2{
  color:#65A3FF;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.ImpressumLink {
  color: #91bcff;
  text-decoration: none;
  padding: 5px;
  display: block;
  float: left;
}

.linkWrapper{
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  left: 50%;
  position: relative;
  width: auto;
  display: inline-block;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

/*****************************************Wrappers**/
#wrapperStart {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#wrapperEnd {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#wrapper {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#buttons-wrapper {
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/************************Start Screen*/
/* The Modal (background) */
#modalHelp {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  color:#444444!important;
}

/* Modal Content */
.modalHelp-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: calc(90% - 40px);
  border-radius: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#loginbtn {
  width: auto;
  min-width: 100px;
  background-color: #c0daff;
  color: black;
  min-height: 50px;
  text-align: center;
}

#loginServerbtn {
  width: auto;
  min-width: 200px;
  background-color: #c0daff;
  color: Black;
  min-height: 50px;
  text-align: center;
}

#loginBackbtn {
  width: auto;
  min-width: 200px;
  background-color: #c0daff;
  color: Black;
  min-height: 50px;
  text-align: center;
}

#helpButton {
  color: #65A3FF;
  position: absolute;
  right: 5%;
  top: 25px;
  display: block;
  background-color: white;
  width: 40px;
  font-size: 1.5em;
  line-height: 5px;
  border-color: #65A3FF;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  padding: 0;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

#helpButton span {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

#helpButton:hover {
  background-color: #91bcff;
}

#logo {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: block;
}

#startText {
  height: 150px;
  margin-top: 80px;
  color: #444444;
  text-align: center;
}

#startButton {
  height: auto;
  min-height: 40px;
  width: 100%;
  color: white;
  font-size: 1.1em;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #65A3FF;
  border-radius: 50px;
  border-width: 0;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

#startButton:hover {
  background-color: #91bcff;
}

/**********************Endscreen*/
#endText {
  background: #E1F5FE;
  height: auto;
  text-align: center;
  border-radius: 15px;
  display: block;
  margin-top: 25px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  color: #444444;
  padding-top: 10px;
}

.endscreen-text {
  width: calc(100% - 30px);
  height: auto;
  position: relative;
  top: 0px;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 166px;
  padding-bottom: 20px;

}

.endscreen-zusatztext {}

#resultText {
  padding: 0;
  margin: 0;
}

/**********Thumb animation**/
.score-upload-success {
  width: 100%;
  max-width: 90px;
  z-index: 2;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.score-upload-success.animate .score-upload-success__hand {
  -webkit-animation: fade-hand-up 0.5s 0s cubic-bezier(0.17, 0.88, 0.32, 1.2) forwards;
  animation: fade-hand-up 0.5s 0s cubic-bezier(0.17, 0.88, 0.32, 1.2) forwards;
}

.score-upload-success.animate .score-upload-success__thumb {
  -webkit-animation: rotate-thumb 0.5s 0.1s cubic-bezier(0.17, 0.88, 0.32, 1.2) forwards;
  animation: rotate-thumb 0.5s 0.1s cubic-bezier(0.17, 0.88, 0.32, 1.2) forwards;
  transform-box: fill-box;
}

.score-upload-success__hand {
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.score-upload-success__thumb {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-transform-origin: center 90%;
  transform-origin: center 90%;
}

@-webkit-keyframes rotate-thumb {
  0% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes rotate-thumb {
  0% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@-webkit-keyframes fade-hand-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fade-hand-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/**************************Quizz*/
/*
.picture-box{
  width: 100%;
  height: auto;
  background-color: #707070;
}

.bild{
  width: 100%;
  height: auto;
}

.bilder-rand{
  height: 50px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
*/
.container {
  width: auto;
  height: auto;
}

.progressBar {
  top: 14px;
  width: 94%;
  height: 3px;
  background-color: #C0C0C0;
  position: absolute;
  -webkit-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
  left: 50%;
  border-radius: 50px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

#progressBarFill {
  height: 100%;
  width: 30%;
  background-color: #65A3FF;
  border-radius: 50px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

#nextProgressBarFill {
  height: 100%;
  width: 30%;
  background-color: #65A3FF;
  border-radius: 50px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.frage {
  background: #E1F5FE;
  height: auto;
  width: 100%;
  text-align:left;
  height: auto;
  border-radius: 15px;
  display: -webkit-box;
  display: flex;
  position: absolute;
  margin-bottom: 25px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  color: #444444;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.SwipeInAnimation {
  -webkit-animation: SwipeInQuestion 0.5s 1 0s ease-in-out;
  animation: SwipeInQuestion 0.5s 1 0s ease-in-out;
  -webkit-animation-name: SwipeInQuestion;
  animation-name: SwipeInQuestion;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-filter: blur(.0px);
  filter: blur(.0px)
}

@-webkit-keyframes SwipeInQuestion {
  0% {
    -webkit-transform: translateY(-39px);
    transform: translateY(-39px);
    opacity: 0.5;
    z-index: 0;
    zoom: 75%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) perspective(1px);
    transform: translateZ(0) perspective(1px);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(.0px);
    filter: blur(.0px)
  }

  50% {
    -webkit-transform: translateY(-150px) perspective(1px) translateZ(0);
    transform: translateY(-150px) perspective(1px) translateZ(0);
    opacity: 1;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(.0px);
    filter: blur(.0px)
  }

  90% {
    z-index: 5;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) perspective(1px);
    transform: translateZ(0) perspective(1px);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(.0px);
    filter: blur(.0px)
  }

  100% {
    -webkit-transform: translateY(0px) perspective(1px) translateZ(0);
    transform: translateY(0px) perspective(1px) translateZ(0);
    zoom: 100%;
    opacity: 1;
    z-index: 5;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(.0px);
    filter: blur(.0px)
  }
}

@keyframes SwipeInQuestion {
  0% {
    -webkit-transform: translateY(-39px);
    transform: translateY(-39px);
    opacity: 0.5;
    z-index: 0;
    zoom: 75%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) perspective(1px);
    transform: translateZ(0) perspective(1px);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(.0px);
    filter: blur(.0px)
  }

  50% {
    -webkit-transform: translateY(-150px) perspective(1px) translateZ(0);
    transform: translateY(-150px) perspective(1px) translateZ(0);
    opacity: 1;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(.0px);
    filter: blur(.0px)
  }

  90% {
    z-index: 5;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) perspective(1px);
    transform: translateZ(0) perspective(1px);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(.0px);
    filter: blur(.0px)
  }

  100% {
    -webkit-transform: translateY(0px) perspective(1px) translateZ(0);
    transform: translateY(0px) perspective(1px) translateZ(0);
    zoom: 100%;
    opacity: 1;
    z-index: 5;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-filter: blur(.0px);
    filter: blur(.0px)
  }
}

.shrinkAnimation {
  -webkit-animation: shrink 0.8s 1 0s ease-in-out;
  animation: shrink 0.8s 1 0s ease-in-out;
  -webkit-animation-name: shrink;
  animation-name: shrink;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes shrink {
  0% {
    max-height: 1000px;
    opacity: 1;
  }

  100% {
    max-height: 20px;
    opacity: 0;
  }
}

@keyframes shrink {
  0% {
    max-height: 200px;
    opacity: 1;
  }

  100% {
    max-height: 20px;
    opacity: 0;
  }
}

.swipeOutAnswers {
  -webkit-animation: swipeOut 0.3s 1 0s ease-in-out;
  animation: swipeOut 0.3s 1 0s ease-in-out;
  -webkit-animation-name: swipeOut;
  animation-name: swipeOut;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes swipeOut {
  from {
    opacity: 1
  }

  to {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes swipeOut {
  from {
    opacity: 1
  }

  to {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.swipeInAnswers {
  -webkit-animation: swipeInAnswer 0.3s 1 0s ease-in-out;
  animation: swipeInAnswer 0.3s 1 0s ease-in-out;
  -webkit-animation-name: swipeInAnswer;
  animation-name: swipeInAnswer;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  -webkit-transform: translateX(+100%);
  transform: translateX(+100%);
}

@-webkit-keyframes swipeInAnswer {
  from {
    opacity: 0;
    -webkit-transform: translateX(+100%);
    transform: translateX(+100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes swipeInAnswerv {
  from {
    opacity: 0;
    -webkit-transform: translateX(+100%);
    transform: translateX(+100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swipeInAnswerv {
  from {
    opacity: 0;
    -webkit-transform: translateX(+100%);
    transform: translateX(+100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

#oben {
  top: 16px;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-filter: blur(.0px);
  filter: blur(.0px);
}

#unten {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  z-index: 3;
  -webkit-filter: blur(.0px);
  filter: blur(.0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(.0px);
}

.frage-layer-1 {
  background: #cce5ff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 30px);
  height: 8px;
  z-index: 1;
  opacity: 0;
}

.frage-layer-2 {
  background: #c0ddff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 60px);
  height: 8px;
  z-index: 1;
  opacity: 0;
}

#question {
  display: block;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: left;
  outline: none;
  left: 50%;
  width: calc(100% - 30px);
  font-size: 1rem;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.questionMark{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 24%;

  }

#nextquestion {
  display: block;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: left;
  outline: none;
  width: calc(100% - 30px);
  font-size: 1rem;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

button {
  height: auto;
  min-height: 40px;
  width: 100%;
  color: #444444;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #E1F5FE;
  border-width: 0;
  border-radius: 10px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  outline: none;
  font-size: 0.9rem;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

button:first-child {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 8px;
  border-width: 0;
  font-size: 0.9rem;
}

button:hover {
  background-color: #91bcff;
  cursor: pointer !important;
}

button:active {
  background-color: #91bcff;
}

#buttons-wrapper button{
  background-image: url(../bilder/exclemation-mark.svg);
  background-size: 32px;
  background-position-y: 50%;
  background-position-x: 0.5%;
  background-repeat: no-repeat;
  padding-left: 35px;
}

.fortschritt-wrapper {
  width: 100%;
  height: auto;
  z-index: 9999;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.bubble {
  width: 10px;
  height: 10px;
  background-color: #949494;
  border-radius: 50%;
  border-style: solid;
  border-color: #707070;
  border-width: 1px;
  display: block;
  float: left;
  margin-right: 3px;
}

.quizz-wrapper {
  margin-top: 10px;
  width: 100%;
  position: absolute;
}

#linkButton{
  height: auto;
  min-height: 40px;
  width: 100%;
  color: white;
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #65A3FF;
  border-radius: 50px;
  border-width: 0;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

#linkButton:hover {
  background-color: #91bcff;
}

#restart{
  height: auto;
  min-height: 20px;
  width: auto;
  color: white;
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #9ceb9c;
  border-radius: 50px;
  border-width: 0;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

#restart:hover{
  background-color: #90dc90;
}

#restartText{
  display: inline-block;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  float: right;
}

#restartIcon{
  height: 25px;
  width: 25px;
  background-image: url(../bilder/restart.svg);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

footer.startfooter{

}

footer.mainfooter{
  position: absolute;
  margin-bottom: -40px;
}

footer.mainfooter > div > a{
  color: #E1F5FE!important;
}

footer.endfooter{
  margin-top: 20px;
}

footer.endfooter > div > a{
  color: #E1F5FE!important;
}


.impressumBackground{
  width: calc(100% - 40px);
  min-height: 600px;
  margin-top: 25px;
  padding: 20px;
  background: #E1F5FE;
  border-radius: 15px;
  display: block;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  color: #444444;
}
h1.ueberschrift{
  text-align: center;
  width: 100%;
}

/********media querys*/
@media (min-width: 500px) {
  #wrapper {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
  }

  #wrapperLogin {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
  }

  #wrapperStart {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
  }

  #wrapperEnd {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #helpButton {
    color: #65A3FF;
    position: absolute;
    right: calc((100% - 500px)/2);
    top: 25px;
    display: block;
    background-color: white;
    width: 40px;
    font-size: 1.5em;
    line-height: 5px;
    border-color: #65A3FF;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    padding: 0;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
  }

  .modalHelp-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 460px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;

}

/*remove hover on phones*/
@media (hover: none) {
  button:hover {
    background-color: #E1F5FE;
    ;
  }
}
}
}
