input{
  margin-top: 10px;
  width: calc(100% - 20px);
  border-width: 1px;
  border-color: #8B8B8B;
  border-style: solid;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
}
input:first-child{
  margin-top: 70px;
}

.LoginWrapper{
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.loginButton{
  background-color: #65A3FF;
  border-radius: 50px;
  color: white;
  margin-top: 18px;
}

.passwortVergessen{
  display: block;
  text-align: center;
  font-size: 0.8em;
  margin-top: 10px;
}

.passwortVergessen a{
  text-decoration: none;
  color: #7B7B7B;
}

#loginLogo{
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: block;
}

@media (min-width: 540px){

  .LoginWrapper{
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

}
