@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

html body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden !important;
}

nav.horizontalNav{
  height: 60px;
  width: 100%;
  background-color:  rgb(101, 163, 255);
  position: fixed;
  top: 0;
  border-bottom: 1px solid white;
  z-index: 2;
}

nav.vertikalNav{
  height: calc(100vh - 60px);
  width: 200px;
  background-color: rgb(101, 163, 255);
  position: fixed;
  left: 0;
  top: 60px;

}

ul.navItems{
  list-style: none;
  padding-left: 0;
  width:80%;
  -webkit-transform: translate(-50%,0);
          transform: translate(-50%,0);
  position: relative;
  left: 50%;


}

ul.navItems li{
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom:0;

}

ul.navItems li a{
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  display: block;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

ul.navItems li a:hover{
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  display: block;
  background-color: rgb(72, 138, 236);
}

.current{
  background-color: rgb(72, 138, 236);
}

#wrapper{
  position:fixed;
  top: 60px;
  left: 200px;
  width:calc(100vw - 200px);
  height: calc(100vh - 60px);
  background-color: white;
  overflow:auto;

}

.innerWrapper{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

button#logout{
  position: absolute;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
  right: 20px;
  color: white;
  background: none;
  border: 1px solid white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}
button#logout:hover{
  background-color: rgb(72, 138, 236);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#quizInfo{
  height: 45px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
  left: 20px;
  position: absolute;
}

#quizPicture{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  float: left;
  background-image: url("../../bilder/logo-idee_small.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}

#quizName{
  float: right;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
  margin-left: 10px;
  color: white;
}

h1{
  text-align: center;
  color: #444444;
}

.newButton{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  background-color: rgb(101, 163, 255);
  color: white;
  font-weight: 900;
  font-size: 35px;
  padding: 0;
  margin-bottom: 45px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.newButton:hover{
  cursor: pointer;
  background-color: rgb(72, 138, 236);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

tbody{
  display: block;
}

#question_table_body > tr{
  display: block;
  width: 100%;
  border: 1px #7F7F7F solid;
  background-color: #F1F9FF;
  margin-bottom: 40px;
  position: relative;
  border-radius: 5px;
}

.text{
  display: block;
  padding: 15px;
  width: 90%;
  margin-right: 40px;
  margin-top: 50px;
  color: rgb(101, 163, 255);
  font-weight: bold;
  }

.answers{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.editButtonCell{
  position: absolute;
  display: block;
  top: 35px;
  left: 110px;
}

.editAnswerCell{
  top:31px !important;
}

.editButton{
  width: 10px;
  height: 12px;
  display: block;
  background-image: url("../../bilder/edit.svg");
  background-size:contain;
  background-repeat:no-repeat;
  background-color: transparent;
  border: none;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.editButton:hover{
  width: 12px;
  height: 14px;
  display: block;
  background-image: url("../../bilder/edit.svg");
  background-size:contain;
  background-repeat:no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.removeButtonCell{
  position: absolute;
  display: block;
  top: 35px;
  left: 135px;
}

.removeButton{
  width: 10px;
  height: 10px;
  display: block;
  background-image: url("../../bilder/delete.svg");
  background-size:contain;
  background-repeat:no-repeat;
  background-color: transparent;
  border: none;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}


.removeButton:hover{
  width: 12px;
  height: 12px;
  display: block;
  background-image: url("../../bilder/delete.svg");
  background-size:contain;
  background-repeat:no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.toggleButtonCell{
  position: absolute;
  top:30px;
  right: 20px;
}

.toggleButton{
  width: 12px;
  height: 20px;
  background-image: url("../../bilder/Forward-arrow-small.svg");
  background-size:contain;
  background-repeat:no-repeat;
  background-color: transparent;
  border: none;
          -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
}
.toggleButton:focus {
  outline:0;
}
.toggleButton:hover{
  width: 14px;
  height: 22px;
  background-image: url("../../bilder/Forward-arrow-small.svg");
  background-size:contain;
  background-repeat:no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.id{
  display: block;
  position: absolute;
  font-size: 12px;
  color: gray;
  top: 5px;
  left: 15px;
}

.questionNumber{
  display: block;
  position: absolute;
  top: 22px;
  left: 15px;
  font-size: 22px;
  font-weight: bold;
  color:#7F7F7F;
}

.answer_table tbody tr{
  display: block;
  width: 100%;
  border: 1px #7F7F7F solid;
  background-color: #F1F9FF;
  margin-bottom: 40px;
  position: relative;
  border-radius: 5px;
}

.answer_table{
  width: 100%;
}

.addAnswerButton{
  display: block;
  margin-bottom: 20px !important;
  font-size: 25px !important;
  }

.answerText{
  display: block;
  padding: 15px;
  width: 90%;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 25px;
  color: rgb(101, 163, 255);
  font-weight: bold;
  }

.answerNumber{
  display: block;
  position: absolute;
  top: 22px;
  left: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #7F7F7F;
}

.categoryId{
  position: absolute;
  left: 15px;
  bottom: 10px;
  color: rgb(101, 163, 255);
}

.removeButtonCellAnswers{
  top:32px !important;
}

/*modal*/
/* The Modal (background) */
#modalWrapper {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 20;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  color:#444444!important;
}

/* Modal Content */
#modalWrapper-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 20px;
  top: 50%;
  left: calc(50% + 93px);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

form{
  width: calc(85%);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

form textarea{
  width: calc(100% - 34px);
  min-height: 100px;
  padding: 15px;
  border-color:rgb(101, 163, 255);
  color:rgb(101, 163, 255);
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  resize: vertical;
}

form textarea::-webkit-input-placeholder{
  color: #b4d2ff;
}


form textarea::-moz-placeholder{
  color: #b4d2ff;
}


form textarea:-ms-input-placeholder{
  color: #b4d2ff;
}


form textarea::-ms-input-placeholder{
  color: #b4d2ff;
}


form textarea::placeholder{
  color: #b4d2ff;
}

form textarea:focus{
  outline: none;
}

.fertig{
  width: 120px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: calc((15%) / 2);
  padding: 10px;
  border-color: transparent;
  background-color: rgb(101, 163, 255);
  color: white;
  border-radius: 5px;
}

.fertig:hover{
  cursor: pointer;
  background-color: rgb(72, 138, 236);
}

.abbrechen{
  width: 120px;
  margin-top:20px;
  margin-bottom: 40px;
  margin-right: calc((15%) / 2);
  float: right;
  padding:10px;
  border-color: transparent;
  background-color: rgb(101, 163, 255);
  color: white;
  border-radius: 5px;
}

.abbrechen:hover{
  cursor: pointer;
  background-color: rgb(72, 138, 236);
}
.modalTitle{
  margin-left: calc(15% / 2);
  margin-right: calc(15% /2);
  color: #7F7F7F;
}

.categorySelector{
  width: 100%;
  padding:8px;
  border-color:rgb(101, 163, 255);
  color:rgb(101, 163, 255);
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.labelCell{
  display: block;
  position: absolute;
  top: 22px;
  left: 15px;
  font-size: 22px;
  font-weight: bold;
  color:#7F7F7F;
}

.valueCell{
  display: block;
  padding: 15px;
  width: 90%;
  margin-right: 40px;
  margin-top: 50px;
  color: rgb(101, 163, 255);
  font-weight: bold;
}

/*Quiz Title*/

.editButtonCellQuizTitel{
  position: absolute;
  display: block;
  top: 35px;
  left: 130px;
}


.editButtonQuizTitel{
  width: 10px;
  height: 12px;
  display: block;
  background-image: url("../../bilder/edit.svg");
  background-size:contain;
  background-repeat:no-repeat;
  background-color: transparent;
  border: none;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.editButtonQuizTitel:hover{
  width: 12px;
  height: 14px;
  display: block;
  background-image: url("../../bilder/edit.svg");
  background-size:contain;
  background-repeat:no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/*Quiz Description*/
.editButtonCellQuizDescription{
  position: absolute;
  display: block;
  top: 35px;
  left: 170px;
}


.editButtonQuizDescription{
  width: 10px;
  height: 12px;
  display: block;
  background-image: url("../../bilder/edit.svg");
  background-size:contain;
  background-repeat:no-repeat;
  background-color: transparent;
  border: none;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.editButtonQuizDescription:hover{
  width: 12px;
  height: 14px;
  display: block;
  background-image: url("../../bilder/edit.svg");
  background-size:contain;
  background-repeat:no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/*EndscreenButtonTitel*/
.editButtonCellEndscreenButtonTitel{
  position: absolute;
  display: block;
  top: 35px;
  left: 395px;
}


.editButtonEndscreenButtonTitel{
  width: 10px;
  height: 12px;
  display: block;
  background-image: url("../../bilder/edit.svg");
  background-size:contain;
  background-repeat:no-repeat;
  background-color: transparent;
  border: none;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.editButtonEndscreenButtonTitel:hover{
  width: 12px;
  height: 14px;
  display: block;
  background-image: url("../../bilder/edit.svg");
  background-size:contain;
  background-repeat:no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/*EndscreenButtonLink*/
.editButtonCellEndscreenButtonLink{
  position: absolute;
  display: block;
  top: 35px;
  left: 390px;
}


.editButtonEndscreenButtonLink{
  width: 10px;
  height: 12px;
  display: block;
  background-image: url("../../bilder/edit.svg");
  background-size:contain;
  background-repeat:no-repeat;
  background-color: transparent;
  border: none;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.editButtonEndscreenButtonLink:hover{
  width: 12px;
  height: 14px;
  display: block;
  background-image: url("../../bilder/edit.svg");
  background-size:contain;
  background-repeat:no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}


.overview_table tbody tr{
  display: block;
  width: 100%;
  border: 1px #7F7F7F solid;
  background-color: #F1F9FF;
  margin-bottom: 40px;
  position: relative;
  border-radius: 5px;
}

.overview_table{
  width: 100%;
}

.categoryName{
  display: inline-block;
  margin-top: 22px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #7F7F7F;
}

.abdeckungUeberpruefen{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  display: block;
  width: 100%;
  background-color: #66CDAA;
  border: transparent;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.abdeckungUeberpruefen:hover{
  cursor: pointer;
  background-color: #4ec39c;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.resultNumber{
  display: block;
  position: absolute;
  top: 22px;
  left: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #7F7F7F;
}

.resultMinMax{
  padding:15px;

}

.editButtonCellResult{
  position: absolute;
  display: block;
  top: 33px;
  left: 135px;
}

.removeButtonCellResult{
  position: absolute;
      display: block;
      top: 33px;
      left: 160px;
}

textarea#resultText{
  width: calc(100% - 80px);
  min-height: 100px;
  padding: 15px;
  border-color:rgb(101, 163, 255);
  color:rgb(101, 163, 255);
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  resize: vertical;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fertigErgebnis{
  width: 120px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px;
  border-color: transparent;
  background-color: rgb(101, 163, 255);
  color: white;
  border-radius: 5px;
}

.fertigErgebnis:hover{
  cursor: pointer;
  background-color: rgb(72, 138, 236);
}

.abbrechenErgebnis{
  width: 120px;
  margin-top:20px;
  margin-bottom: 40px;
  margin-right: 47px;
  float: right;
  padding:10px;
  border-color: transparent;
  background-color: rgb(101, 163, 255);
  color: white;
  border-radius: 5px;
}

.abbrechenErgebnis:hover{
  cursor: pointer;
  background-color: rgb(72, 138, 236);
}

#categoriesMinMaxDiv div{
  margin-top: 10px;
  margin-bottom: 10px;
}

#categoriesMinMaxDiv div input{
  margin-left: 10px;
  margin-right: 30px;
  border-color: rgb(101, 163, 255);
  color: rgb(101, 163, 255);
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
/*
.rounded{
  border-radius: 10px;
  display: block;
  overflow: auto;
}
*/
.overview_table{
  width: 100%;
}
